fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
python-jose==3.3.0
bcrypt==4.0.1
sqlalchemy==2.0.36
pymysql==1.1.1
cryptography==43.0.3
langchain==0.3.7
langchain-google-genai==2.0.4
langchain-chroma==0.1.4
chromadb==0.6.3
pymupdf==1.25.3
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.6.1
google-generativeai==0.8.3